<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="C_DentalClaimTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="C_DentalClaimTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <userSettings>
    <C_DentalClaimTracker.Properties.Settings>
      <setting name="ApexSiteURL" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenedExclusive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchDefaultClinic" serializeAs="String">
        <value />
      </setting>
      <setting name="UseAdvancedVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EclaimsOpenOutputAfterProcess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EclaimsViewClaimsX" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="EclaimsViewClaimsY" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SearchPrimaryChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchSecondaryChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchPredetermChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchUnpaidChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchHideNotReadyChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchShowMyClaimsFirstChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchSentChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchResentChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchOnHoldChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchTracerChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchUpdatedChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchDefaultStatus" serializeAs="String">
        <value />
      </setting>
      <setting name="MultipleClaimClaimsVisible" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ApexEDIConfigLocation" serializeAs="String">
        <value>C:\NHDG\config\apexedi.config</value>
      </setting>
      <setting name="ShowPaymentLineOnSecondary" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchFormsMaxResults" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ProcessClaimsFormMaxResults" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LocalComputerName" serializeAs="String">
        <value>Any PC</value>
      </setting>
      <setting name="GradStudentGroupNum" serializeAs="String">
        <value>04255</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>claim_production</value>
      </setting>
    </C_DentalClaimTracker.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <C_DentalClaimTracker.Properties.Settings>
      <setting name="PaymentStatusID" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SystemUserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastUpdate" serializeAs="String">
        <value>6-6-16</value>
      </setting>
      <setting name="ServerNameSQL" serializeAs="String">
        <!--<value>x2a\sqlexpress</value>-->
        <value>BHUPENDRA-PC</value>
        
      </setting>
    </C_DentalClaimTracker.Properties.Settings>
  </applicationSettings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="errors.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted FlatFile TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp(local)} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Errors:{errorMessages} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted FlatFile TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="claim_productionEntities" connectionString="metadata=&quot;res://*/EF Data.dbModel.csdl|res://*/EF Data.dbModel.ssdl|res://*/EF Data.dbModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AARON-PCHOME\SQLEXPRESS;Initial Catalog=claim_production;Persist Security Info=True;User ID=claimtracker;Password=claim;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="claim_productionEntities" connectionString="metadata=&quot;res://*/EF Data.dbModel.csdl|res://*/EF Data.dbModel.ssdl|res://*/EF Data.dbModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BHUPENDRA-PC;Initial Catalog=claim_production;Persist Security Info=True;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="ServiceSoap1"/>
        <binding name="BasicHttpBinding_IRequestInbound">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://drwww.dentalclaimsonline.com/DCOPlusExchange/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="DCOPlus.Operations.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="https://stagingfeed.omdental.co/RequestInbound.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequestInbound" contract="OMPropel.IRequestInbound" name="BasicHttpBinding_IRequestInbound"/>
    </client>
  </system.serviceModel>
</configuration>
