<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C_DentalClaimTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C_DentalClaimTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <C_DentalClaimTracker.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>backupserv2</value>
            </setting>
            <setting name="ApexSiteURL" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenedExclusive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchDefaultClinic" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAdvancedVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EclaimsOpenOutputAfterProcess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EclaimsViewClaimsX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EclaimsViewClaimsY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SearchPrimaryChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchSecondaryChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchPredetermChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchUnpaidChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchHideNotReadyChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchShowMyClaimsFirstChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchSentChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchResentChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchOnHoldChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchTracerChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchUpdatedChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchDefaultStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="MultipleClaimClaimsVisible" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ApexEDIConfigLocation" serializeAs="String">
                <value>C:\NHDG\config\apexedi.config</value>
            </setting>
            <setting name="ShowPaymentLineOnSecondary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchFormsMaxResults" serializeAs="String">
                <value>50</value>
            </setting>
        </C_DentalClaimTracker.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <C_DentalClaimTracker.Properties.Settings>
            <setting name="PaymentStatusID" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SystemUserID" serializeAs="String">
                <value>0</value>
            </setting>
        </C_DentalClaimTracker.Properties.Settings>
    </applicationSettings>
</configuration>