<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DCTUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DCTUpdater.Properties.Settings>
            <setting name="UpdateFileName" serializeAs="String">
                <value>DentalClaimTracker.exe</value>
            </setting>
            <setting name="UpdateFileRemoteLocation" serializeAs="String">
                <value>dct/exe/</value>
            </setting>
            <setting name="FTPServer" serializeAs="String">
                <value>www.twinsparks.com</value>
            </setting>
            <setting name="FTPUserName" serializeAs="String">
                <value>theteamcs</value>
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value>SpeedBay59</value>
            </setting>
            <setting name="RemoteDeploymentManifest" serializeAs="String">
                <value>http://twinsparks.com/dct/exe/DeploymentManifest.XML</value>
            </setting>
            <setting name="FTPRootUri" serializeAs="String">
                <value>ftp://twinsparks.com/dct/exe/</value>
            </setting>
        </DCTUpdater.Properties.Settings>
    </applicationSettings>
</configuration>