<?xml version="1.0" encoding="UTF-8"?>
<ClaimCodeChanger>
	<CodeChanges>
		<CodeChange>
			<Carrier>(.*BCBS.*|Anthem.*|.*Blue\sCross.*|.*BC/BS.*)</Carrier>
			<SearchFor>^0(.*)</SearchFor>
			<ReplaceWith>D$1</ReplaceWith>
		</CodeChange>
		<CodeChange>
			<Carrier>.*</Carrier>
			<SearchFor>^(.....).*</SearchFor>
			<ReplaceWith>$1</ReplaceWith>
		</CodeChange>
	</CodeChanges>
</ClaimCodeChanger>
